@import "tailwindcss";


.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 70s linear infinite;
}

.marquee-item {
  display: inline-block;
  padding-right: 300px; 
  font-size: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


